* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
}
/**Comienzo HEADER**/
.headerStyle {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.headerStyle:hover {
  color: #8338ec;
}
.headerStyle:active {
  color: #8338ec;
  border: 1px solid #8338ec;
  border-radius: 20px;
  background-color: rgb(29, 51, 77);
  padding: 10px 15px;
  box-shadow: 0px 0px 10px 0px #8338ec;
}
.menu {
  display: flex;
  justify-content: flex-end;
  line-height: 2.5;
}

ul {
  list-style: none;
}

.item {
  margin: 0 20px;
}

header {
  box-shadow: 0 0 29px 0 rgba(134, 134, 134, 0.25);
  padding: 25px 0;
  width: 100%;
  position: fixed;
  top: 0;
  height: 12%;
  font-size: 1.4rem;
}

.dark {
  background-color: rgb(29, 51, 77);
  color: white;
}
.buttonstyle {
  background-color: lightseagreen;
  padding: 15px 40px;
  border-radius: 100px;
  color: white;
  border: none;
  font-size: 1em;
  font-weight: 400;
  cursor: pointer;
  outline: none;
}

.buttonstyle:active {
  outline: none;
  border: none;
}

/**FIN HEADER**/

/**Seccion ABOUT**/

.about {
  width: 100%;
}

#aboutmaincontent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 60px;
  width: 100%;
  padding: 120px 50px;
}

.aboutimage {
  width: 45%;
}

.aboutmaininfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.aboutgreeting {
  font-weight: 800;
  font-size: 2.5rem;
  margin-bottom: 5px;
}

.aboutname {
  color: lightseagreen;
  margin-bottom: 5px;
}

.aboutdescription {
  margin-bottom: 50px;
  font-size: 1.4rem;
}

.hrstyle {
  border: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    rgba(55, 58, 59, 1) 0%,
    rgba(159, 159, 198, 1) 53%,
    rgba(55, 58, 59, 1) 100%
  );
}
h1 {
  font-size: 70px;
  font-weight: 900;
}

/**Fin seccion ABOUT**/

/**Seccion CONOCIMIENTOS**/
#skills {
  max-width: 1100px;
  margin: auto;
}

.skillsinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  align-items: center;
  font-size: 1.4rem;
}

.skillsitem {
  width: 260px;
  height: 228px;
  background-color: rgb(194, 206, 206);
  color: black;
  border: 1px solid rgb(194, 206, 206);
  padding: 40px;
  border-radius: 30px;
  margin: 10px;
}
.skillsitem:hover {
  border: 2px solid lightseagreen;
}

.skillstitle {
  font-size: 45px;
  font-weight: 900;
  margin-bottom: 0.35em;
}
.skillsdescription {
  max-width: 600px;
  line-height: 1.4;
}

.skillsflex {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  text-align: center;
  justify-content: center;
}

.skill-icon {
  font-size: 4.71em;
}

.skilltitle {
  font-size: 1.25em;
  font-weight: 700;
  margin-top: 20px;
}

.skillssection {
  padding-top: 100px;
  padding-bottom: 180px;
}

/**Fin seccion CONOCIMIENTOS**/

/**Inicio seccion QUOTE**/
.quotecontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 110px;
}

.quote {
  width: 100%;
  margin: auto;
  height: 90vh;
}

.quote-icon {
  font-size: 5em;
  margin-bottom: 20px;
}

.quotedescription {
  font-size: 1.4rem;
  margin: 20px;
  text-align: center;
  font-weight: 700;
}

.quotetitle {
  font-size: 1.69em;
  margin-top: 20px;
  font-weight: 700;
}
.lightstyle {
  background-color: lightseagreen;
  color: black;
}
/**Fin seccion QUOTE**/

/**Inicio seccion PROYECTOS**/
.projects {
  width: 100%;
  padding-bottom: 40px;
}

.projectscontent {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 110px;
}

.projectsdescription {
  width: 40%;
  margin-top: 30px;
  font-size: 1.4rem;
}

.projectstitle {
  font-size: 45px;
  font-weight: 700;
  font-size: 3rem;
}

.projectsflex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 40px;
}

.pruebaimagen {
  width: 100%;
  height: 50vh;
}

.projectbox {
  width: 30%;
  margin: 0.75em;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 20px;
  overflow: hidden;
  text-decoration: none;
  color: white;
}

.projectbox:hover {
  border: 1px solid lightseagreen;
}

.projectbox:active {
  box-shadow: 0 0 10px 0 lightseagreen;
}
.imgproject {
  width: 100%;
}

.imgproject {
  height: 70%;
  margin-top: 40px;
}

.project-name {
  padding: 10px;
  font-weight: 400;
  font-size: 1.5rem;
}

/**Fin seccion PROYECTOS**/

/**Comienzo seccion CONTACTO**/

.contactsection {
  padding-bottom: 40px;
  padding-top: 100px;
  font-size: 1.3em;
  width: 100%;
}

.contact-title {
  margin-bottom: 20px;
  font-size: 2em;
}

.columns {
  display: flex;
  border: 1px solid #b1aaaa;
  border-radius: 15px;
  text-align: left;
  padding: 80px 60px;
  background-color: rgb(194, 206, 206);
  color: black;
  width: 90%;
  justify-content: center;
  margin: auto;
}

.contact-social-link {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: black;
  margin-top: 20px;
  text-decoration: none;
}

.column {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.contact-social-item {
  display: flex;
  margin: 5px 0;
}

.contact-social-icon {
  margin-right: 10px;
  background-color: rgb(194, 206, 206);
  color: #8338ec;
  font-size: 1.2rem;
}

.contact-social-link:hover {
  color: #8338ec;
}

.contact-social-icon:hover {
  color: white;
  background-color: #8338ec;
  border-radius: 50%;
  padding: 4px;
}

.contact-description {
  width: 70%;
  margin-top: 20px;
}
input {
  outline: none;
  font-size: 1.3rem;
}
.inputname {
  display: flex;
}
input:hover {
  box-shadow: 0 0 10px 0 lightseagreen;
}

textarea:hover {
  box-shadow: 0 0 10px 0 lightseagreen;
  outline: none;
}
.formgrow {
  flex-grow: 1;
}

.formsurname {
  padding-left: 5px;
}

label {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: 700;
}

input {
  border-radius: 20px;
  border: none;
  width: 100%;
  padding: 10px 15px;
}

textarea {
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  width: 100%;
  font-size: 1.3rem;
  outline: none;
}

.formbutton {
  margin-top: 10px;
}

.formbutton:hover {
  opacity: 0.8;
}
.buttonstyle:hover {
  opacity: 0.8;
}

/**Fin seccion CONTACTO**/

/**Comienzo FOOTER**/

footer {
  background-color: lightseagreen;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  padding: 80px;
  font-size: 1.2rem;
}

.footerorg {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  width: 100%;
}
.footernavmenu {
  display: flex;
  justify-content: center;
}

.footernavitem {
  margin: 0 10px;
}
.footernavlink {
  color: black;
}

.footer-social-links {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.footer-social-link {
  font-size: 28px;
  margin: 10px;
  color: lightseagreen;
  background-color: rgb(29, 51, 77);
  border-radius: 50%;
  padding: 8px 10px;
  cursor: pointer;
}

.footer-social-link:hover {
  background-color: lightseagreen;
  color: black;
  border-radius: 50%;
  border: 1px solid black;
}
.love {
  margin-top: 40px;
  color: black;
}

/**Fin FOOTER**/

/**   Responsive for TABLETS **/

@media only screen and (min-width: 415px) and (max-width: 843px) {
  header {
    display: none;
  }
  #aboutmaincontent {
    flex-direction: column;
  }

  .aboutimage {
    margin-top: 80px;
    width: 100%;
  }

  .projectscontent {
    align-items: center;
  }

  .projectsdescription {
    width: 100%;
  }

  .projectsflex {
    justify-content: center;
  }
  .columns {
    flex-direction: column;
  }
  .contactsection {
    height: 220vh;
  }
  .inputmessage {
    width: 60vw;
  }

  input {
    width: 100%;
  }
  .columns {
    width: 80vw;
  }
  .columnform {
    margin-top: 20px;
    width: 80%;
  }
  .column-contact {
    width: 100%;
    display: flex;
    align-items: flex-start;
  }

  .contact-description {
    width: 100%;
  }

  footer {
    height: 45vh;
  }
}

/**   Responsive for SMARTPHONES **/

@media only screen and (max-width: 414px) {
  header {
    display: none;
    width: 100%;
  }

  .about {
    margin-top: -60px;
    width: 100%;
  }

  .aboutmaininfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .columns {
    flex-direction: column;
    width: 80%;
    padding: 15%;
  }

  .contact-social-links {
    font-size: 16px;
  }

  .contactsection {
    width: 100%;
  }

  #aboutmaincontent {
    flex-direction: column;
  }
  #aboutmaincontent {
    width: 100%;
  }

  .aboutimage {
    padding-top: 40px;
    margin-left: 80px;
  }
  .skillssection {
    width: 100%;
  }

  .skillsdescription {
    width: 80%;
  }
  .quote {
    width: 100%;
  }

  .quotetitle {
    text-align: center;
  }

  .projects {
    width: 100%;
  }

  .projectbox {
    width: auto;
  }

  .imgproject {
    width: 100%;
    margin-top: 2px;
  }

  .projectscontent {
    width: 100%;
  }

  .projectsdescription {
    width: 100%;
  }
  .project-name {
    font-size: 0.9rem;
    margin-left: -10px;
  }

  .columncontact {
    width: 100%;
  }

  footer {
    width: 100%;
  }

  .footernav {
    display: none;
  }
  .footernavmenu {
    width: 70%;
  }

  .footer-social-links {
    margin-top: -30px;
  }

  textarea {
    width: 100%;
  }
  .contact-title {
    font-size: 2rem;
  }

  .inputname {
    display: flex;
    flex-direction: column;
  }
  .inputfirstname {
    width: 100%;
  }
  .inputsurname {
    width: 100%;
  }
  .formemail {
    width: 100%;
  }

  .contact-description {
    width: 14rem;
  }

  .columnform {
    margin-top: 80px;
    width: 100%;
  }
}
